<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="res_config_settings_view_form" model="ir.ui.view">
        <field name="name">res.config.settings.view.form.inherit</field>
        <field name="model">res.config.settings</field>
        <field name="priority" eval="10"/>
        <field name="inherit_id" ref="base.res_config_settings_view_form"/>
        <field name="arch" type="xml">
            <xpath expr="//div[hasclass('settings')]" position="inside">
                <div class="app_settings_block" data-string="HR Settings" string="HR Settings" data-key="hr_request">
                    <h2>Late Permission Settings</h2>
                    <group>
                        <group>
                            <div class="row mt16 o_settings_container">
                                <div class="o_setting_left_pane">
                                    <label for="max_of_early_late_permission"
                                           string="Default Maximum Of Early Sign out Permission"/>
                                    <field name="max_of_early_late_permission"/>
                                </div>
                            </div>
                        </group>
                        <group>
                            <div class="row mt16 o_settings_container">
                                <div class="o_setting_left_pane">
                                    <label for="max_of_early_late_permission_time"
                                           string="Default Maximum Of Early Sign out Time"/>
                                    <field name="max_of_early_late_permission_time" widget="float_time"/>
                                </div>
                            </div>
                        </group>
                    </group>
                    <group>
                    </group>


                    <h2>Contract Newly Notify Email Settings</h2>
                    <div class="row mt16 o_settings_container">

                        <div class="col-12 col-lg-6 o_setting_box"
                             title="Set Number of months to be notified before employee contract ending date">
                            <div class="o_setting_left_pane">
                                <field name="num_months"/>
                            </div>
                            <div class="o_setting_right_pane">
                                <label for="num_months"/>
                                <div class="text-muted">
                                    Pre Ending Date Months To Notify
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 o_setting_box"
                             title="Set Number of months to be notified before employee contract trial ending date">
                            <div class="o_setting_left_pane">
                                <field name="trial_num_months"/>
                            </div>
                            <div class="o_setting_right_pane">
                                <label for="trial_num_months"/>
                                <div class="text-muted">
                                    Pre Trial Ending Date Months To Notify
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </xpath>
        </field>
    </record>

    <record id="action_hr_config_settings" model="ir.actions.act_window">
        <field name="name">HR Settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_id" ref="res_config_settings_view_form"/>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module' : 'hr_request'}</field>
    </record>

    <menuitem id="hr_request_configuration_menu" name="Configuration" parent="hr_request.hr_root_menu" sequence="50"/>

    <menuitem id="late_permission_setting_menu" name="Settings"
              parent="hr_request.hr_request_configuration_menu"
              sequence="1" action="action_hr_config_settings"/>

</odoo>
